<% provide(:title, "Hem") %>
<div class="row">
	<div class="col-md-3 aside-col col-md-push-9">
		<div class="login-div">
			<% if logged_in? %>
				<div class="logged-in">
					<strong>Inloggad som <%= link_to current_user.name, current_user %></strong>
					<div>
						<%= link_to "Logga ut", logout_path, method: "delete", class: "btn btn-warning" %>
					</div>
				</div>
			<% else %>
				<h4>Logga in:</h4>
				<%= render 'sessions/form' %>
			<% end %>
		</div>
	</div>
	<div class="col-md-9 col-md-pull-3 latest-content main-content">
		<div class="jumbotron">
			<% if logged_in? %>
				<% if current_user.admin? %>
				<h2>Välkommen <%= current_user.name %>!</h2>
				<%= link_to "Lägg till nya böcker", new_book_path, class: "btn btn-lg btn-primary" %>
				<%= link_to "Lägg till nya författare", new_author_path, class: "btn btn-lg btn-primary" %>
				<% else %>
				<h2>Se våra böcker</h2>
				<p>Vi har flera intressanta titlar.</p>
				<%= link_to "Klicka här", books_path, class: "btn btn-lg btn-primary" %>
				<% end %>
			<% else %>
				<h2>Tycker du om att läsa böcker?</h2>
				<p>Skapa ett konto för att ladda ner våra e-böcker</p>
				<%= link_to "Registera dig nu!", signup_path, class: "btn btn-lg btn-primary" %>
			<% end %>
		</div>
		<div class="latest-books-home">
			<h2>Våra senaste titlar</h2>
			<%= render 'books/latest' %>
		</div>
	</div>
</div>