<% provide(:title, "Hem") %>
<div class="row row-fluid">
	<div class="col-md-3 aside-col col-md-push-9">
		<div class="login-div">
			<% if logged_in? %>
				<strong>Inloggad som <%= link_to current_user.name, current_user %></strong>
				<div>
				<%= link_to "Logga ut", logout_path, method: "delete", class: "btn btn-warning" %>
				</div>
			<% else %>
				<h4>Logga in:</h4>
				<%= render 'sessions/form' %>
				<span>Ny användare? <%= link_to "Registera dig nu!", signup_path %></span>
			<% end %>
		</div>
	</div>

	<div class="col-md-9 col-md-pull-3 latest-content main-content">

		<%= render 'authors/latest' %>

		<h2>Senaste titlar</h2>
		<%= render 'books/latest' %>

	</div>
		<!-- 	<h1>Litteraturklassiker på webben</h1>
			<%# link_to "Registera dig nu!", signup_path, class: "btn btn-lg btn-primary" %> -->

		<%# render 'books/latest' %>
</div>