<div class="nested-fields row">
	<div class="article-form-fields col-md-8 col-md-offset-2">
		<div class="row">
			<h3>Artikel</h3>

				<div class="form-inline form-group">
					<%= f.label :title, "Titel:" %>
					<%= f.text_field :title, class: "form-control input-sm" %>
				</div>

				<div class="form-inline form-group">
					<%= f.label :writer, "Upphovsman:" %>
					<%= f.text_field :writer, class: "form-control input-sm" %>
				</div>


				<div class="form-inline form-group">
					<%= f.label :source, "Källa:" %>
					<%= f.text_field :source, class: "form-control input-sm" %>
				</div>
				<div class="form-inline form-group">
					<%= f.label :year, "År/Datum:" %>
					<%= f.text_field :year, class: "form-control input-sm" %>
				</div>


				<div class="form-inline form-group">
					<%= f.label :about, "Beskrivning" %>
					<%= f.text_area :about, class: "form-control input-sm" %>
				</div>

				<div class="form-inline form-group">
					<%= f.label :url %>
					<%= f.text_field :url, type: "url", class: "form-control input-sm" %>
				</div>


			<span class="glyphicon glyphicon-minus"></span>
			<%= link_to_remove_association "Ta bort artikel", f %>
		</div>
	</div>
</div>