<div class="nested-fields">
	<%= f.label :title, "Titel" %>
	<%= f.text_field :title %>

	<%= f.label :author, "Upphovsman" %>
	<%= f.text_field :author %>

	<%= link_to_remove_association "Ta bort artikel", f %>
</div>