<li>
	<div class="media-container">
		<div class="index-thumb-left">
			<%= link_to author, class: "media-object" do %>
				<%= image_tag author.portrait.url if author.portrait? %>
			<% end %>
		</div>
		<div class="index-body">
			<h3 class="media-heading"><%= author.name %></h3>
			<p><%= truncate(author.about, length: 180) %><%= link_to " Läs mer >>", author %></p>

			<% if logged_in? && current_user.admin? %>
				<span class="glyphicon glyphicon-trash"></span>
				<%= link_to "Ta bort författare", author, method: :delete, data: { confirm: "Är du säker?"} %>
			<% end %>
		</div>
	</div>
</li>
