<%= form_for(@author, html: { multipart: true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
		<%= f.label :name, "Namn" %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :about, "Om" %>
		<%= f.text_area :about, class: 'form-control' %>
	</div>

	<div class="form-group portrait-upload">
		<%= f.label :portrait, "Ladda upp författarbild" %>
		<%= f.file_field :portrait, accept: 'image/jpeg,image/gif,image/png' %>
	</div>

	<%= f.submit "Spara", class: 'btn btn-primary' %>
	<%= link_to "Avbryt", authors_path, class: 'btn btn-danger' %>
<% end %>



