<%= form_for [@author, @new_article] do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form-inline form-group">
		<%= f.label :title, "Titel:" %>
		<%= f.text_field :title, class: "form-control input-sm" %>
	</div>

	<div class="form-inline form-group">
		<%= f.label :writer, "Upphovsman:" %>
		<%= f.text_field :writer, class: "form-control input-sm" %>
	</div>

	<div class="form-inline form-group">
		<%= f.label :source, "Källa:" %>
		<%= f.text_field :source, class: "form-control input-sm" %>
	</div>
	<div class="form-inline form-group">
		<%= f.label :year, "År/Datum:" %>
		<%= f.text_field :year, class: "form-control input-sm" %>
	</div>

	<div class="form-inline form-group">
		<%= f.label :about, "Beskrivning:" %>
		<%= f.text_area :about, class: "form-control input-sm" %>
	</div>

	<div class="form-inline form-group">
		<%= f.label :url, "Url:" %>
		<%= f.text_field :url, class: "form-control input-sm" %>
	</div>

	<%= f.submit "Spara artikel", class: "btn btn-primary" %>
<% end %>