<% provide(:title, "Våra författare") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 primary-col">
		<h1 class>Våra författare</h1>

		<%# Ruby on rails tutorial - Simple search form  %>
		<%= form_tag authors_path, :method => 'get' do %>
			<p>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Sök", :name => nil %>
			</p>
		<% end %>

		<ul class="authors">
			<%= render @authors %>
		</ul>

		<% if logged_in? && current_user.admin? %>
			<%= link_to "Lägg till författare", newauthor_path, class: 'new-book-link' %>
		<% end %>
	</div>
</div>
