<% provide(:title, "Lägg till författare") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 primary-col">
		<h1>Lägg till författare</h1>
		<div class="form-div">
			<%= form_for(@author, html: { multipart: true }) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>

				<%= f.label :name, "Namn" %>
				<%= f.text_field :name, class: 'form_control' %>

				<%= f.label :about, "Om" %>
				<%= f.text_area :about, class: 'form_control' %>

				<%= f.submit "Lägg till författare", class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>