<% provide(:title, "Sökresultat") %>
<div class="row index">
	<div class="col-md-8 col-md-offset-2 primary-col">
		<%# Ruby on rails tutorial - Movie app  %>
		<%= form_tag search_authors_path, method: :get, class: "form-inline search-form", role: "search" do %>
			<div class="form-group">
				<!-- <label for="author-search-input">Sök på författare: </label> -->
				<%= text_field_tag :search, params[:search], class: "form-control", id: "author-search-input",
					placeholder: "Sök på författare" %>
			</div>
			<%= button_tag name: nil, class: "btn btn-default", type: "submit" do %>
				<span class="glyphicon glyphicon-search"></span>
			<% end %>
			<%= link_to "Tillbaka", authors_path, class: "btn btn-default" %>
		<% end %>

		<h1 class>Sökresultat</h1>

		<ul class="media-list">
			<%= render @authors %>
		</ul>
	</div>
</div>