<% provide(:title, @author.name) %>
<div class="row">
	<div class="main col-md-9 col-md-offset-1">
		<div class="show-container main-content">
			<div class="show-pic-left">
				<%= image_tag(@author.portrait.url) if @author.portrait?  %>
			</div>
			<div class="show-content">
				<h1 class="show-header"><%= @author.name %></h1>
				<h3>Om författaren</h3>
				<p><%= @author.about %></p>
				<% if logged_in? && current_user.admin? %>
					<%= link_to "Redigera författare", edit_author_path %>
				<% end %>
			</div>
			<div class="clearfix"></div>
		</div>
		<% if @author.articles.count > 0 || logged_in? && current_user.admin? %>
			<div class="main-content articles">
					<h3>Artiklar om <%= @author.name %></h3>
					<ul class="list-group">
						<% @articles.each do |article| %>
							<%= render 'articles/article', :article => article %>
						<% end %>
					</ul>
				<% if logged_in? && current_user.admin? %>
					<a class="article-form-link" data-toggle="collapse" href="#author-article-form"
						aria-expanded="false" aria-controls="author-article-form">Lägg till artikel
						<span class="glyphicon glyphicon-chevron-right"></span></a>
					<div class="collapse article-form" id="author-article-form">
						<h3>Artikel</h3>
						<%= form_for [@author, @new_article] do |f| %>
							<%= render 'articles/form', :f => f %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
		<% if @author.books.count > 0 %>
			<div class="main-content titles">
				<h3>Titlar</h3>
				<%= render 'books/latest' %>
			</div>
		<% end %>
	</div>
</div>