<% provide(:title, @author.name) %>
<div class="row">
	<div class="main col-md-9 col-md-offset-1">
		<div class="show-container main-content">
			<div class="show-pic-left">
				<%= image_tag(@author.portrait.url) %>
			</div>
			<div class="show-content">
				<h1 class="show-header"><%= @author.name %></h1>
				<h3>Om författaren</h3>
				<p><%= @author.about %></p>

				<ul class="list-group">
					<% @author.articles.each do |article| %>
						<li class="list-group-item">
							<%= article.writer %>, <em><%= article.title %></em>, <%= article.source %>, <%= article.year %>
							<%= link_to " Läs>>", article.url, :target => "_blank" if article.url? %>
						</li>
					<% end %>
				</ul>
				<% if logged_in? && current_user.admin? %>
					<%= link_to "Redigera författare", edit_author_path %>
				<% end %>
			</div>
		</div>
		<% if logged_in? && current_user.admin? %>
		<div class="main-content">
			<a class="article-form-link" data-toggle="collapse" href="#author-article-form"
				aria-expanded="false" aria-controls="author-article-form">Lägg till artikel
				<span class="glyphicon glyphicon-chevron-right"></span></a>
			<div class="collapse article-form" id="author-article-form">
				<h3>Artikel</h3>
				<%= form_for [@author, @new_article] do |f| %>
					<div class="form-inline form-group">
						<%= f.label :title, "Titel:" %>
						<%= f.text_field :title, class: "form-control input-sm" %>
					</div>

					<div class="form-inline form-group">
						<%= f.label :writer, "Upphovsman:" %>
						<%= f.text_field :writer, class: "form-control input-sm" %>
					</div>


					<div class="form-inline form-group">
						<%= f.label :source, "Källa:" %>
						<%= f.text_field :source, class: "form-control input-sm" %>
					</div>
					<div class="form-inline form-group">
						<%= f.label :year, "År/Datum:" %>
						<%= f.text_field :year, class: "form-control input-sm" %>
					</div>


					<div class="form-inline form-group">
						<%= f.label :about, "Beskrivning:" %>
						<%= f.text_area :about, class: "form-control input-sm" %>
					</div>

					<div class="form-inline form-group">
						<%= f.label :url, "Url:" %>
						<%= f.text_field :url, type: "url", class: "form-control input-sm" %>
					</div>

					<%= f.submit "Spara artikel", class: "btn btn-primary" %>
				<% end %>

				<%# link_to "Lägg till/redigera artiklar", new_article_path %>
				<div>

				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="clearfix">
	</div>
</div>
<% if @author.books.count > 0 %>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="author-titles main-content">
			<h3 class="upcase">Titlar</h3>
			<div class="books">
				<% @author.books.each do |book| %>
					<div class="book">
						<div class="cover-div">
							<%= image_tag(book.cover.url) %>
						</div>
						<div class="caption">
							<%= link_to book.title, book %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>





<!-- <div class="row author-show-div primary-div">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="upcase"><%= @author.name %></h1>
		<p><%= @author.about %></p>
	</div>


	<div class="col-md-8 col-md-offset-2">
		<h3 class="upcase"><%= "Artiklar om " + @author.name unless @author.articles.empty? %></h3>



	</div>
</div> -->