<div class="nested-fields author-fields">
	<div class="form-group">
		<%= f.label :name, "Namn" %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :about, "Om" %>
		<%= f.text_area :about, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :portrait, "Ladda upp författarbild" %>
		<%= f.file_field :portrait, accept: 'image/jpeg,image/gif,image/png' %>
	</div>
</div>

