<%# View for showning one book. %>
<li>
	<div class="media-container">
		<div class="index-thumb-left">
			<%# Display cover pic if there is one. %>
			<%= display_cover(book) %>
		</div>
		<div class="index-body">
			<h3> <%= link_to book.title, book %></h3>
			<ul class="books-authors">av
				<% book.authors.each do |author| %>
					<li>
						<%= link_to author.name, author %>
					</li>
				<% end %>
			</ul>
			<p>
				<%= truncate(book.about, length: 100) %><%= link_to " Läs mer >>", book %>
			</p>
			<div>
				<% if logged_in? && current_user.admin? %>
					<span class="glyphicon glyphicon-trash"></span>
					<%= link_to "Radera bok", book, method: :delete, data: { confirm: "Är du säker?"} %>
					<span> | </span>
					<span class="glyphicon glyphicon-edit"></span>
					<%= link_to " Redigera bok", edit_book_path(book) %>
				<% end %>
			</div>
		</div>
	</div>
</li>