<%# View for showning one book. %>
<li>
	<%# Display cover pic if there is one. %>
	<% if book.cover? %>
		<%= image_tag book.cover.url %>
	<% else %>
		<div class="default-cover">
			<span class="author-span">
				<% if book.authors.count == 1 %>
					<%= book.authors.first.name %>
				<% end %>
			</span>
			<span class="title-span"><%= book.title %></span>
		</div>
	<% end %>
	<div>
		<h3> <%= link_to book.title, book %></h3>
		<ul class="books-authors">av
			<% book.authors.each do |author| %>
				<li>
					<%= link_to author.name, author %>
				</li>
			<% end %>
		</ul>
		<span class="about">
			<%= truncate(book.about, length: 150) %><%= link_to " Läs mer >>", book %>
		</span>
		<div>
			<% if logged_in? && current_user.admin? %>
				<%= link_to "Radera bok", book, method: :delete, data: { confirm: "Är du säker?"}, class: "btn btn-danger btn-xs" %>
			<% end %>
		</div>
	</div>
</li>