<div class="books">
	<% @books.each do |book| %>
		<%= link_to book, class: "book" do %>
		<div>
			<div class="cover-div">
				<%# Display cover pic if there is one. %>
					<%= display_cover(book) %>
			</div>
			<div class="caption">
				<h3><%= book.title %></h3>
				<h4>
					<% if book.authors.count == 1%>
						<%= book.authors.first.name %>
					<% elsif book.authors.count == 2 %>
						<%= book.authors.first.name %>, <%= book.authors.second.name %>
					<% end %>
				</h4>
			</div>
		</div>
		<% end %>
	<% end %>
</div>