<% provide(:title, "Redigera bok") %>

<h1>Redigera bok</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@book, html: { multipart: true }) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title, "Titel" %>
			<%= f.text_field :title, class: 'form_control' %>

			<%= f.label :author, "Författare" %>
			<%= f.text_field :author, class: 'form_control' %>

			<%= f.label :yearofpub, "Utgivningsår" %>
			<%= f.number_field :yearofpub, class: 'form_control' %>

			<%= f.label :about, "Beskrivning" %>
			<%= f.text_area :about %>

			<%= f.label :genre_id, "Välj genre" %>
			<%= f.collection_select(:genre_id, Genre.all, :id, :genre) %>

			<div class="upload-edit-field">
				<%= f.label :cover, "Ladda upp omslagsbild" %>
				<%= f.file_field :cover, accept: 'image/jpeg,image/gif,image/png' %>
				<% if @book.cover? %>
					<div class="remove-file">
						<label>Ta bort omslagsbild</label>
						<%= f.check_box :remove_cover %>
					</div>
				<% end %>
			</div>

			<div class="upload-edit-field">
				<%= f.label :pdf, "Ladda upp Pdf-fil" %>
				<%= f.file_field :pdf, accept: 'application/pdf' %>
			</div>

			<div class="upload-edit-field">
				<%= f.label :epub, "Ladda upp Epub-fil" %>
				<%= f.file_field :epub, accept: 'application/epub+zip' %>
			</div>

			<%= f.submit "Spara", class: "btn btn-primary" %>
			<%= link_to "Avbryt", @book, class: "btn btn-danger" %>
		<% end %>
	</div>
</div>


<%# JQuery function fires alert if user tries to upload pic larger than 5MB. %>
<script type="text/javascript">
	$('#book_cover').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Den största tillåtna filstorleken är 5MB. Var vänlig välj en mindre fil.')
		}
	});
</script>

<script type="text/javascript">
	$('#book_pdf').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 20) {
			alert('Den största tillåtna filstorleken är 20MB. Var vänlig välj en mindre fil.')
		}
	});
</script>
