<% provide(:title, 'Våra böcker') %>
<div class="row index">
	<div class="col-md-8 col-md-offset-2 primary-col">
		<%= form_tag search_books_path, method: :get, class: "form-inline search-form", role: "search" do %>
			<div class="form-group">
				<!-- <label for="author-search-input">Sök på författare: </label> -->
				<%= text_field_tag :search, params[:search], class: "form-control", id: "book-search-input",
					placeholder: "Sök på böcker" %>
			</div>
			<%= button_tag name: nil, class: "btn btn-default", type: "submit" do %>
				<span class="glyphicon glyphicon-search"></span>
			<% end %>
		<% end %>
		<h1 class="index-h1">Våra böcker</h1>
		<ul class="media-list">
			<%= render @books %>
		</ul>

		<% if logged_in? && current_user.admin? %>
			<div class="new-book-link">
				<span class="glyphicon glyphicon-plus"></span>
				<%= link_to "Lägg till ny bok", newbook_path %>
			</div>
		<% end %>
	</div>
</div>
<div class="row pagination-row">
	<%= will_paginate @posts, :previous_label => '<<', :next_label => '>>' %>
</div>



