<% provide(:title, "Lägg till bok") %>
<h1>Lägg till ny bok</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@book, html: { multipart: true }) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title, "Titel" %>
			<%= f.text_field :title, class: 'form_control' %>

			<%= f.label :yearofpub, "Utgivningsår" %>
			<%= f.number_field :yearofpub, class: 'form_control' %>

			<%= f.label :about, "Beskrivning" %>
			<%= f.text_area :about %>

			<%= f.label :genre_id, "Välj genre" %>
			<%= f.collection_select(:genre_id, Genre.all, :id, :genre) %>

			<span class="cover">
				<%= f.label :cover, "Ladda upp omslagsbild" %>
				<%= f.file_field :cover, accept: 'image/jpeg,image/gif,image/png' %>
			</span>

			<%= f.submit "Lägg till bok", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<%# JQuery function fires alert if user tries to upload pic larger than 5MB. %>
<script type="text/javascript">
	$('#book_cover').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Den största tillåtna filstorleken är 5MB. Var vänlig välj en mindre fil.')
		}
	});
</script>
