<% provide(:title, @book.title) %>
<div class="book-post row">
	<div class="col-md-12">
		<h1><%= @book.title %></h1>
	</div>
	<div class="cover-div col-md-2">
		<% if @book.cover? %>
			<%= image_tag @book.cover.url %>
		<% else %>
			<div class="default-cover">
				<span class="author-span"><%= @book.author %></span>
				<span class="title-span"><%= @book.title %></span>
			</div>
		<% end %>
	</div>
	<div class="col-md-8">
		<p>Författare: <%= @book.author %></p>
		<p><%= @book.about %></p>
		<p>Utgivningsår: <%= @book.yearofpub %></p>
		<p>Genre: <%= @book.genre.genre %></p>

		<% if logged_in? && @book.pdf? %>
			<div class="download-field">
					<span class="glyphicon glyphicon-download"></span>
					<%# link_to "Ladda ner boken som Pdf-fil", :action => :download_pdf, :id => @book.id %>
					<%= link_to "Öppna boken som pdf-dokument", @book.pdf.url %>
			</div>
		<% end %>

		<% if logged_in? && @book.epub? %>
			<div class="download-field">
				<span class="glyphicon glyphicon-download"></span>
				<%= link_to "Hämta boken som Epub-fil", @book.epub.url %>
			</div>
		<% end %>

		<% if logged_in? && current_user.admin? %>
			<%= link_to "Redigera bok", edit_book_path %>
		<% end %>
	</div>
</div>

