<% provide(:title, @book.title) %>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="show-container main-content">
			<div class="show-pic-left">
				<% if @book.cover? %>
					<%= image_tag @book.cover.url %>
				<% else %>
					<div class="default-cover">
						<span class="author-span">
							<% if @book.authors.count == 1 %>
								<%= @book.authors.first.name %>
							<% end %>
						</span>
						<span class="title-span"><%= @book.title %></span>
					</div>
				<% end %>
			</div>
			<div class="show-content">
				<h1 class="show-header"><%= @book.title %></h1>
				<p class="inline"><strong>Författare:</strong>
					<ul class="book-author-list">
					<% @book.authors.each do |author| %>
						<li><%= link_to author.name, author %></li>
					<% end %>
					</ul>
				</p>
				<p><%= @book.about %></p>
				<p><strong>Utgivningsår:</strong> <%= @book.yearofpub %></p>
				<p><strong>Genre:</strong> <%= @book.genre.genre %></p>

				<% if @book.pdf? || @book.epub? %>
					<% if logged_in? %>
						<% if @book.pdf? %>
							<div class="download-field">
								<span class="glyphicon glyphicon-download"></span>
								<%= link_to "Öppna boken som pdf-dokument", @book.pdf.url %>
							</div>
						<% end %>

						<% if @book.epub? %>
							<div class="download-field">
								<span class="glyphicon glyphicon-download"></span>
								<%= link_to "Hämta boken som Epub-fil", @book.epub.url %>
							</div>
						<% end %>
					<% else %>
						<%= link_to "Logga in ", login_path %><p class="inline">för att ladda ner e-boken.</p>
					<% end %>
				<% else %>
					<em class="block">Boken saknar uppladdad e-bok.</em>
				<% end %>
				<% if logged_in? && current_user.admin? %>
					<%= link_to "Redigera bok", edit_book_path, class: "edit-book-link" %>
				<% end %>
			</div>
			<div class="clearfix"></div>
		</div>
		<% if @book.articles.count > 0 || logged_in? && current_user.admin? %>
			<div class="main-content">
				<h3>Artiklar om <%= @book.title %></h3>
				<ul class="list-group">
					<% @book.articles.each do |article| %>
						<li class="list-group-item">
						<%= article.writer %>, <em><%= article.title %></em>, <%= article.source %>, <%= article.year %>
							<%= link_to " Läs>>", article.url, :target => "_blank" if article.url? %>
							<%= link_to "Ta bort artikel", article, method: :delete, data: { confirm: "Är du säker?"} %>
						</li>
					<% end %>
				</ul>
				<% if logged_in? && current_user.admin? %>
					<a class="article-form-link" data-toggle="collapse" href="#book-article-form"
						aria-expanded="false" aria-controls="book-article-form">Lägg till artikel
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
					<div class="collapse article-form" id="book-article-form">
					<%= form_for [@book, @new_article] do |f| %>
						<%= render 'articles/form', :f => f %>
					<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>