<% provide(:title, @book.title) %>
<div class="book-post row">
	<div class="col-md-12">
		<h1><%= @book.title %></h1>
	</div>
	<div class="cover-div col-md-2">
		<%= image_tag @book.cover.url if @book.cover? %>
	</div>
	<div class="col-md-8">
		<p>Författare: <%= @book.author %></p>
		<p><%= @book.about %></p>
		<p>Utgivningsår: <%= @book.yearofpub %></p>
		<p>Genre: <%= @book.genre.genre %></p>
		<!-- Ska egentiligen bara visas om anv är inloggad. -->
<!-- 		<%= link_to "Ladda ner omslag", :action => :download_file, :id => @book.id %> -->
		<%= link_to "Ladda ner omslag", @book.download_url %>
		<% if logged_in? && current_user.admin? %>
			<%= link_to "Redigera bok", edit_book_path %>
		<% end %>
	</div>
</div>

