<% provide(:title, @book.title) %>
<div class="book-post row">
	<div class="col-md-12">
		<h1><%= @book.title %></h1>
	</div>
	<div class="cover-div col-md-2">
		<%= image_tag @book.cover.url if @book.cover? %>
	</div>
	<div class="col-md-8">
		<p>Författare: <%= @book.author %></p>
		<p><%= @book.about %></p>
		<p>Utgivningsår: <%= @book.yearofpub %></p>
		<p>Genre: <%= @book.genre.genre %></p>

		<% if logged_in? && @book.pdf? %>
			<div class="pdf-download">
				<% if Rails.env.production? %>
					<%= link_to "Ladda ner som Pdf-fil", @book.pdf_url %>
				<% else %>
					<%= link_to "Ladda ner boken som Pdf-fil", :action => :download_pdf, :id => @book.id %>
				<% end %>
			</div>
		<% end %>

		<% if logged_in? && current_user.admin? %>
			<%= link_to "Redigera bok", edit_book_path %>
		<% end %>
	</div>
</div>

