<% provide(:title, @book.title) %>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="show-container main-content">
			<div class="show-pic-left">
				<% if @book.cover? %>
					<%= image_tag @book.cover.url %>
				<% else %>
					<div class="default-cover">
						<span class="author-span">
							<% if @book.authors.count == 1 %>
								<%= @book.authors.first.name %>
							<% end %>
						</span>
						<span class="title-span"><%= @book.title %></span>
					</div>
				<% end %>
			</div>
			<div class="show-content">
				<h1 class="show-header"><%= @book.title %></h1>
				<p><strong>Författare:</strong>
					<% @book.authors.each do |author| %>
						<%= link_to author.name, author %>
					<% end %>
				</p>
				<p><%= @book.about %></p>
				<p><strong>Utgivningsår:</strong> <%= @book.yearofpub %></p>
				<p><strong>Genre:</strong> <%= @book.genre.genre %></p>

				<% if logged_in? && @book.pdf? %>
					<div class="download-field">
						<span class="glyphicon glyphicon-download"></span>
						<%= link_to "Öppna boken som pdf-dokument", @book.pdf.url %>
					</div>
				<% end %>

				<% if logged_in? && @book.epub? %>
					<div class="download-field">
						<span class="glyphicon glyphicon-download"></span>
						<%= link_to "Hämta boken som Epub-fil", @book.epub.url %>
					</div>
				<% end %>



				<% if logged_in? && current_user.admin? %>
					<%= link_to "Redigera bok", edit_book_path %>
				<% end %>
			</div>
		</div>

			<div class="main-content">
				<h3>Artiklar om <%= @book.title %></h3>
				<ul class="list-group">
					<% @book.articles.each do |article| %>
						<li class="list-group-item">
						<%= article.writer %>, <em><%= article.title %></em>, <%= article.source %>, <%= article.year %>
							<%= link_to " Läs>>", article.url, :target => "_blank" if article.url? %>
						</li>
					<% end %>
				</ul>
				<% if logged_in? && current_user.admin? %>
					<a class="article-form-link" data-toggle="collapse" href="#book-article-form"
						aria-expanded="false" aria-controls="book-article-form">Lägg till artikel
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
					<div class="collapse article-form" id="book-article-form">
						<%= render 'new_article_form' %>
					</div>
				<% end %>
			</div>

	</div>

</div>